<!DOCTYPE html>
<html>
	<head>
		<title>Backend Developers</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="./font-awesome.min.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="./grid.css">
	
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans">
		<link rel="stylesheet" type="text/css" href="./base.css">
		<link rel="stylesheet" type="text/css" href="./team-01.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<br>
		<style type="text/css">
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	</head>

	<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
         crossorigin="anonymous">         	
    </script>

    <script type="text/javascript">
  			function fetchData(intern_id){
  				if(intern_id.length != 0){
  					$.ajax({
  						url: '/interns/'+intern_id,
  						async: false,
  						success: function(response){
  							
  							alert('Name : ' + response["intern"]["name"] + '\nBio : ' + response["intern"]["designation"]);
  							//alert('Name : ' + response["intern"]["name"]);
  							//document.write(response["intern"]["designation"]);
  							//document.getElementById("ff").innerHTML = response["intern"]["name"];
  						}
  					});
  				}
  			}
  	</script>
	
	<body background="./back.jpg" background-attachment: fixed;>
		 <div class="page-wrap">
			<!-- Content-->
			<div class="md-content">
				
				
				
				
				<!-- Section -->
				<section class="awe-section awe-skin-dark">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								
								<!-- sec-title__module -->
								<div class="sec-title__module awe-text-center">
									<h2>Our Team</h2>
									<p> Team of Backend Developers</p>
								</div><!-- End / sec-title__module -->
								
							</div>
						</div>
						<div class="row">
							
							<div class="col-md-2">
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img onclick="fetchData('5b20cdcc6f92001e44feb386')" src="./../prit.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">A Wannabe Computer Science Engineer with a keen interest in Web Design and Developement.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/profile.php?id=100011242205679"> <i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://github.com/PritamDN"><i class="social-icon__icon fa fa-github"></i>
												</a><!-- End / social-icon__module -->
												
												<button class="primary" onclick="fetchData('5b20cdcc6f92001e44feb386')">Details</button>
												
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Pritam Debnath</h4><span class="team-01__work"> Backend Developer </span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./harsh.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Just another coder who loves the sound of deadliness as they pass by but never quits to code.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://facebook.com/hjrinfinity"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
																								
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="+918794031039"><i class="social-icon__icon fa fa-whatsapp"></i>
												</a><!-- End / social-icon__module -->
												
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://instagram.com/hjrinfinity"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->

												<button class="primary" onclick="fetchData('5b1f86d53d1cfc24fc7adbaa')">Details</button>
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name"> Harshajyoti Roy</h4><span class="team-01__work"> Backend Developer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-2">
							</div>
				
				
				<!-- End / Section -->
				
			
			</section>
			<!-- End / Content-->
		</div>

	</body>
</html>