<!DOCTYPE html>
<html>
	<head>
		<title>Frontend Developers</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="./font-awesome.min.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="./grid.css">
	
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans">
		<link rel="stylesheet" type="text/css" href="./base.css">
		<link rel="stylesheet" type="text/css" href="./team-01.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<br>
		<style type="text/css">
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	</head>
	
	<body background="p.jpg" background-attachment: fixed;>
		 <div class="page-wrap">
			<!-- Content-->
			<div class="md-content">
				
				
				
				
				<!-- Section -->
				<section class="awe-section awe-skin-dark">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								
								<!-- sec-title__module -->
								<div class="sec-title__module awe-text-center">
									<h2>Our Team</h2>
									<p>Team of Frontend Developers</p>
								</div><!-- End / sec-title__module -->
								
							</div>
						</div>
						<div class="row">
						<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./dbjn.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"><p>Hi, I am Debjani Bhadra.</p><a href="/debjani"><button>More About Me</button></a></div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/DebjaniBhadra"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/debjani_bhadra"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Debjani Bhadra</h4><span class="team-01__work"> Frontend Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>


							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./tapsii.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"><p>Hi, I am Tapasi Debbarma.</p><a href="/tapasi"><button>More About Me</button></a></div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/tapasi.debbarma.16"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.instagram.com/tapasidebbarma/"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Tapasi Debbarma</h4><span class="team-01__work"> Frontend Designer
											</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./piu.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"><p>Hi, I am Piu Deb.</p><a href="/piu"><button>More About Me</button></a></div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/pihu.dev.14"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/pihu9289/"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">piu deb</h4><span class="team-01__work"> Frontend Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>
								<div class="col-md-4"> 


<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./deepanjana.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"><p>Hi, I am Deepanjana Paul.</p><a href="/deepanjana"><button>More About Me</button></a></div>
												
									
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">deepanjana paul</h4><span class="team-01__work"> Frontend Designer.</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">



								</div>
							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./afsh.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"><p>Hi, I am Afshar Ali.</p><a href="/afshar"><button>More About Me</button></a></div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/AfshAr5"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://aboutme.google.com/u/0/?referer=gplus"><i class="social-icon__icon fa fa-google-plus"></i>
												</a><!-- End / social-icon__module -->
												
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/afsshhar/"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Afshar Ali</h4><span class="team-01__work"> Frontend Designer.</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
							</div>
				
				<!-- End / Section -->
				
			
			</section>
			<!-- End / Content-->
		</div>

	</body>
</html>