<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/jpg" href="PALLAB logo.jpg">
		<title>Graphics Designer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="./font-awesome.min.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="./grid.css">
	
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans">
		<link rel="stylesheet" type="text/css" href="./base.css">
		<link rel="stylesheet" type="text/css" href="./team-01.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<br>
		<style type="text/css">
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	</head>
	
	<body background="graphics background.svg" background-attachment: fixed;>
		 <div class="page-wrap">
			<!-- Content-->
			<div class="md-content">
				
				
				
				
				<!-- Section -->
				<section class="awe-section awe-skin-dark">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								
								<!-- sec-title__module -->
								<div class="sec-title__module awe-text-center">
									<h2>our team</h2>
									<p> Team of Graphics Designer</p>
								</div><!-- End / sec-title__module -->
								
							</div>
						</div>
						<div class="row">
							
							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./ritesh.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi, I am Ritesh Singha.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.facebook.com/hriteshsingha"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->



												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/_rit97"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<a href="/graphics-profile#5b221d8cb6cace001486d1b2"><h4 class="team-01__name">ritesh singha</h4></a><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./kela.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi, I am Pallab Bhuyan.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.facebook.com/profile.php?id=100004988267489"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
											<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="http://www.instagram.com/pallab.bhuyan"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<a href="/graphics-profile#5b22225cb6cace001486d1b3"><h4 class="team-01__name">pallab bhuyan</h4></a><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./sanu.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi,I am Sanu Debnath.


</div>
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/thender_boy"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<a href="/graphics-profile#5b222339b6cace001486d1b4"><h4 class="team-01__name">Sanu debnath</h4></a><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./sata.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi, I am Satarupa Saha.</div>

												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="#"><i class="social-icon__icon fa fa-whatsapp"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<a href="/graphics-profile#5b222409b6cace001486d1b5"><h4 class="team-01__name">satarupa saha</h4></a><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./pinky.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi, I am Pinki Majumder</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/pinki.majumder.378"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<a href="/graphics-profile#5b2224b6b6cace001486d1b6"><h4 class="team-01__name">Pinky majumder</h4></a><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./naina.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi,I am Naina Roy.

</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/profile.NainaRoy"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<a href="/graphics-profile#5b222502b6cace001486d1b7"><h4 class="team-01__name">Naina roy</h4></a><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							
						
					</div>
				
				<!-- End / Section -->
				
			
			</section>
			<!-- End / Content-->
		</div>
      
      <style>
			.navbar-default {

				background-color:black;
			}

			</style>
			<nav class="navbar navbar-default">
			 
			  <div class="container-fluid">
			    <div class="navbar-header"><a class="brand" style="margin:0; float: none;" href="/"><img src="logo img.jpg"></a>
			    </div>
			<div>
			    <ul class="nav navbar-nav navbar-fixed">
			      <li><a href="/">Home</a></li>
			      <li><a href="/about-us">About us</a></li>
                    


                      <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our team</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/graphics-team">Graphics Designers</a>
                                  <a class="dropdown-item" href="/frontend-team">Frontend Developers</a>
                                  <a class="dropdown-item" href="/backend-team">Backend Developers</a>
                                  <div class="dropdown-divider"></div>
                                </ul>

					</div>
							


                               <ul class="nav navbar-nav navbar-right">
                                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                                  </ul>
				       	 	
			    
			    
			</nav>
				</div>

				 <div class="container">
                    <div>
                      <center>

                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <style>
                    .fa { 
                        display: inline-block;
                        alignment-baseline: right;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 12px;
                        color: #333;
                        text-align: center;
                        border: 1px solid #ebebeb;
                        transition: all .3s ease;
                    }

                    .fa:hover {
                        
                        border-color: #ff594f;
                        background-color: #ff594f;
                        color: #fff;
                    }

                    .fa-facebook {
                      background: #3B5998;
                      color: white;
                    }

                    .fa-twitter {
                      background: #55ACEE;
                      color: white;
                    }

                    .fa-google-plus {
                      background: #dd4b39;
                      color: white;
                    }

                    .fa-linkedin {
                      background: #007bb5;
                      color: white;
                    }

                    .fa-youtube {
                      background: #bb0000;
                      color: white;
                    }

                    .fa-instagram {
                      background: #125688;
                      color: white;
                    }

                    .fa-pinterest {
                      background: #cb2027;
                      color: white;
                    }


                    </style>
                    </head>

                    <!-- Add font awesome icons -->
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-pinterest"></a>

                          

                    </center>
                    <br>
                    </div>
                    <style>
                    .jumbotron{
                    background-image:url("admin.jpeg");
                    background-size:cover;

                    </style>
                     <div class="jumbotron"
                    <div class="container">



	</body>
</html>