<!DOCTYPE html>
<html>
	<head>
		<title>Graphics Designers</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="./font-awesome.min.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="./grid.css">
	
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans">
		<link rel="stylesheet" type="text/css" href="./base.css">
		<link rel="stylesheet" type="text/css" href="./team-01.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<br>
		<style type="text/css">
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	</head>
	
	<body background="DESIGNING BG.jpg" background-attachment: fixed;>
		 <div class="page-wrap">
			<!-- Content-->
			<div class="md-content">
				
				
				
				
				<!-- Section -->
				<section class="awe-section awe-skin-dark">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								
								<!-- sec-title__module -->
								<div class="sec-title__module awe-text-center">
									<h2>Our Team</h2>
									<p> Team of Graphic Designers</p>
								</div><!-- End / sec-title__module -->
								
							</div>
						</div>
						<div class="row">
							
							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./ritesh.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Just a technology enthusiast. Currently, pursuing CSE. Interested in animation and graphics designing.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.facebook.com/hriteshsingha"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->



												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/_rit97"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->

												<button class="primary" onclick="fetchData('5b1f86ee3d1cfc24fc7adbab')">Details</button>
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">ritesh singha</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./kela.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"> Wanna be a software developer. Interested in graphics designing.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.facebook.com/profile.php?id=100004988267489"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
											<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="http://www.instagram.com/pallab.bhuyan"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->

												<button class="primary" onclick="fetchData('')">Details</button>
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">pallab bhuyan</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./sanu.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hi, myself Sanu Debnath. I am from Panisagar North TRIPURA. I study in ICFAI university TRIPURA. I am studying b-tech(CSE). My contact number is 9612234595</div>
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/thender_boy"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Sanu debnath</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./sata.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Interested in studies games and favourite subject is automata. Willing to do a great designer..</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="#"><i class="social-icon__icon fa fa-whatsapp"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">satarupa saha</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./pinky.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Hobby  is to Dance, Singing & Study</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/pinki.majumder.378"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Pinky majumder</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./naina.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">She is good at Graphic Designing.</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/profile.NainaRoy"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Naina roy</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							
						
					</div>
				
				<!-- End / Section -->
				
			
			</section>
			<!-- End / Content-->
		</div>

	</body>
</html>