<!DOCTYPE html>
<html>
	<head>
		<title>Graphics Designer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="./../font-awesome.min.css">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="./../grid.css">
	
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans">
		<link rel="stylesheet" type="text/css" href="./../base.css">
		<link rel="stylesheet" type="text/css" href="./../team-01.css"><!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<br>
		<style type="text/css">
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	</head>
	
	<body background="./../unnamed--62a584f669-1920x1200.jpg" background-attachment: fixed;>
		 <div class="page-wrap">
			<!-- Content-->
			<div class="md-content">
				
				
				
				
				<!-- Section -->
				<section class="awe-section awe-skin-dark">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								
								<!-- sec-title__module -->
								<div class="sec-title__module awe-text-center">
									<h2>our team</h2>
									<p> Team of Graphics Designer</p>
								</div><!-- End / sec-title__module -->
								
							</div>
						</div>
						<div class="row">
							
							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./../ritesh.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">Wanna be computer science engineer with interest in photoshop designing</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.facebook.com/hriteshsingha"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->



												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/_rit97"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">ritesh singha</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./../kela.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text"> Wanna be computer science engineer with interest in photoshop designing</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href=" https://www.facebook.com/profile.php?id=100004988267489"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
											<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="http://www.instagram.com/pallab.bhuyan"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">kela bhuyan</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./../sanu.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">he is good at frontend developing.</div>
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.instagram.com/thender_boy"><i class="social-icon__icon fa fa-instagram"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Sanu debnath</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./../sata.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">she is good at frontend designing</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="#"><i class="social-icon__icon fa fa-whatsapp"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">satarupa saha</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./../pinky.jpg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">she is good at graphics desgining</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/pinki.majumder.378"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
												
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Pinky majumder</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							<div class="col-md-4">
								
					    <!-- team-01__module -->
								<div class="team-01__module team-01__style-02">
									<div class="team-01__header"><img src="./../naina.jpeg" alt="member1 img"/>
										<div class="team-01__hover">
											<div class="team-01__inner">
												<div class="team-01__text">she is good at graphics designing</div>
												
												<!-- social-icon__module -->
												<a class="social-icon__module social-icon__no-border" href="https://www.facebook.com/profile.NainaRoy"><i class="social-icon__icon fa fa-facebook"></i>
												</a><!-- End / social-icon__module -->
												
											</div>
										</div>
									</div>
									<div class="team-01__body">
										<div class="team-01__user">
											<h4 class="team-01__name">Naina roy</h4><span class="team-01__work"> graphics Designer</span>
										</div>
									</div>
								</div><!-- End / team-01__module -->
								
							</div>

							
						
					</div>
				
				<!-- End / Section -->
				
			
			</section>
			<!-- End / Content-->
		</div>

	</body>
</html>