<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body{
background-image: url("background-img.jpg");
}

</style>
</head>
<body>
<style>
.navbar-default {

	background-color:#ffffff;
}
</style>
<nav class="navbar navbar-default">
 
  <div class="container-fluid">
    <div class="navbar-header"><a class="brand" style="margin:0; float: none;" href="#"><img src="logo.jpg"/></a>
    </div>

</div>
</nav>
<style>
.jumbotron{
background-image:url("about-bcgrnd-img.jpg");
background-size:cover;
margin-top:10px;
text-align:center;}
</style>
 <div class="jumbotron"
<div class="container">
 <h1>Welcome</h1>
	
</div>
</div>
<style>
.button{
text-align:center;
margin-top:40px;
padding:50px;
background-color:#ffff00;

}
</style>
<div class="text-center">
<div class="container">
 <a href="/about">
 <button type="button" class="btn btn-default btn-lg">About Us</button>
</a>
 </div>
 </div>
 </body>
 </html>