<!DOCTYPE html>
<html>
<head>
	<title> account </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="signup.css">
	<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
	<style type="text/css">

	* {
	padding: 0px;
	margin: 0px;
}
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;	
			background-position: center;
			width: 100%;
			height: 800px;
}
		}
	</style>


	<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
         crossorigin="anonymous">         	
    </script>

    <script type="text/javascript">
  			function loginF(admin_id){
  				if(admin_id.length != 0){
  					$.ajax({
  						url: '/admins/'+admin_id,
  						async: false,
  						success: function(response){
  							
  							alert('Name : ' + response["admin"]["email"] + '\nBio : ' + response["admin"]["password"]);
  							//alert('Name : ' + response["intern"]["name"]);
  							//document.write(response["intern"]["designation"]);
  							//document.getElementById("ff").innerHTML = response["intern"]["name"];
  						}
  					});
  				}
  			}
  	</script>
</head>
<body background="admin.jpeg">

	<!-- Standard Bootstrap Code -->
	

	<div class="container">
		
		<br><br>



		<div class="row">
			<div class="col-sm-12 col-md-3"></div>


			<div class="col-sm-12 col-md-6">



				<div class="card" style="text-align: center">


					<div class="card-body">
		<div class="card-text">



								<link rel="stylesheet" type="text/css" href="signup.css">
								<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
									<style type="text/css">
									form {
									padding: 50px 50px;
									line-height: 20px;
									font-family: 'Jua', sans-serif;
								}
									</style>
								<form class="form" style="text-align: left;">
										<h3 align="center"> <hr>Admin Login<hr></h3>
									
								</div>

								
								<label for="#email"></label>
								<input type="email" name="email" id="email" class="form-control" placeholder="Email">
								
								<label for="#password"></label>
								<input type="password" name="pass1" id="password" class="form-control" placeholder="Enter Password">
								<br><br>
								
								
								<input type="submit" class="btn btn-success" value="Login">
								<a href="#">
							</form>
						</div>
					</div>
				</div>
				<br>
				
			</div>
			<br>
			<br>
			<br>
			<div class="col-sm-12 col-md-3">
								<small align="center" style="color: white">&copy; Interknow 2018, all rights reserved</small>
			</div>
		</div>
		<br><br><br>
	</div>

	<!-- End of Standard Bootstrap Code -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>