<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio App</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		
		<style type="text/css">
		body{
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
	</head>
	
	<body background="./../unnamed--62a584f669-1920x1200.jpg" background-attachment: fixed;>
		 <h1>This is Portfolio Homepage</h1>
		 <a href="/portfolio/frontend-team"><button>Frontend Team</button></a>
		 <a href="/portfolio/backend-team"><button>Backend Team</button></a>
		 <a href="/portfolio/graphics-team"><button>Graphics Team</button></a>